*{
    margin: 0;
    padding: 0;
    /* background-color: #dfdfdf; */
    user-select:none;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 249);
}
#left{
    width: 15vw;
    height: 95vh;
    /* background-color: #3cc094; */
}

#sidebar{
    height: 95vh;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;

}
#logo{
    position: absolute;
    left: 2%;
    height: 10%;
    display: flex;
    margin: auto;
    font-size: 1rem;
}
div >svg{
    margin-right: 1rem;
}
#div >p{
    margin-left: 2rem;
}
#sidebar div{
    margin: auto;
    width: 90%;
    height: 5%;
    /* background-color: rgb(243,243,243); */
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-right: 0.5rem;
    float: left;
}

#sidebar div>svg{
    position: relative;
    left: 10%;
    width: 24px;
    margin-right: 0.5rem;
}
#sidebar div>p{
    position: relative;
    left: 15%;

}

#settings,#about{
    position: relative;
    top: 50%;
}

#middle{
    height: 95vh;
    width: 100vw;
    display: flex;
}


#right{
    width: 85vw;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}


#header{
    background-color: #fff;
    height: 5vh;
    width: 100vw;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 0 5px 5px #eee;
    z-index: 100;
}

#container{
    background-color: #fff;
    width: 80vw;
    height: 88vh;
    margin: 1rem;
    border-radius: 1.2rem;
}
#footer{
    position: absolute;
    height: 4vh;
    width: 85vw;
    text-align: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#footer >p{
    margin: 0;
    font-size: 12px;
    background: none;
}

#header >div{
    width: 10vw;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    display: flex;
    align-items: center;
    font-size: 1em;
}

#message{
    position: relative;
    right: 1rem;

}

#user{
    /* right: 0; */
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#header-middle{
    width: 40% !important;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-30%,0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-middle >div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 20%;
}
#header-right{
    width: 5vw;
    /* background-color: coral; */
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#components{

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50vh;
    margin-top: 1rem;
    /* background-color: brown; */
}

#components >div{
    width: 50%;
    height: 30%;
    /* background-color: aquamarine; */
    margin: auto;
    border-radius: 1rem;
    border: solid 1px rgb(88, 196, 179);;
    /* margin-top: 1rem; */
}




#more,#user>svg,#settings,#about,#tool,#dashboard,#home,#message{
    cursor: pointer;
    transition: all 0.4s;
}

#more:hover,
#settings:hover,
#about:hover,
#tool:hover,
#dashboard:hover,
#home:hover,
#message:hover{
    /* cursor: pointer; */
    color: rgb(88, 196, 179);
    transition: all 0.3s;
}


#homepage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#homepage-AppName{
    text-align: center;
    font-size: 24px;
    text-decoration: solid;
    margin-top: 1rem;
}

#homepage-time{
    font-size: 48px;
    text-align: center;
    margin-top: 3rem;
}

#homepage-more-info{
    text-align: center;
    font-size: 16px;
    margin-top: 0.5rem;
    color: #888;
}

#homepage-start{
    margin-top: 5rem;
}

.components-icon{
    width:6vw;
    height:6vw ;
}

.components{
    display: flex;
    align-items: center;
}
.components >div{
    margin-left: 1rem;
}

.components-content{
    display: flex;
    flex-direction: column;
    /* background-color: blanchedalmond; */
    width: 60%;
    height: 6vw;
    justify-content: center;
}

.components-action{
    display: flex;
    width: 3vw;
    height: 3vw;
    /* background-color: coral; */
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}

.components-action >svg{
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.4s;
 
    /* transition: 0.5s linear ease-in-out; */
}

.components-action >svg:hover{
    /* box-shadow: 1px 1px 0 5px #888; */
    transition: all 0.4s;
    transform: translate(20%,0);
    /* transition: 0.5s linear ease-in-out; */
}

.components-details{
    font-size: 12px;
    margin-top: 1rem;
    color: #888;
}

.components-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.components-icon >svg{
    width: 48px;
    height: 48px;
}


a{
    text-decoration: none;
    color: #888;
    transition: all 0.4s;
}

a:hover{
    transition: all 0.4s;
    color: rgb(88, 196, 179);
}




.status{
    width: 14px;
    height: 14px;
    background-color: #999;
    margin-right: 1rem;
    border-radius: 5px;
}

.components-title{
    display: flex;
    align-items: center;
    
}

#header-middle>div{
    cursor: pointer;
    transition: all 0.4s;
    /* width: 50%; */
}

#header-middle>div:hover{
    background-color: #eee;
    transition: all 0.4s;
    border-radius: 15px 15px 0 0 ;
}

#dashboard-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#dashboard-charts{
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

#dashboard-chart-upper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.5rem; */
    width: 100%;
    height: 50%;
}
#dashboard-chart-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}
#power,#rsrp{
    width: 50%;
    height: 100%;
    margin: 0.5rem;
}
#dashboard-status{
    width: 20%;
    height: 80%;
    background-color: aquamarine;
}



#linechart{
    width: 100%;
    height: 100%;
}
/* DEBUG TRIGER */
#homepage-container{
    display: none;
}